* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-main {
    background-color: white;
    max-width: 384px;
    padding: 24px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 8px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card-span {
    display: inline-block;
    padding: 4px 12px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
    color: hsl(0, 0%, 7%);
}

.card-date {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    color: hsl(0, 0%, 7%);
}

.card-title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
    color: hsl(0, 0%, 7%);
}

.card-title:hover{
    cursor: pointer;
    color:  hsl(47, 88%, 63%);
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    margin-bottom: 24px;
}


.author-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.photo {
    width: 32px;
}

.name {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
}